*
::after
::before{
    box-sizing: border-box;
}

.calculator{
    background-color:#000000;
    margin:0 auto;
    width:22vw;
    height: 85vh;
    border-radius: 30px;
    color: white;
}
.header__container{
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;
}
.header__time{
    display: block;
    font-size: 20px;
}
.result{
    font-size: 90px;
    line-height: 107.4px;
    width: 22vw;
    margin: 0 auto;
    height: 29vh;
    border: 1px solid black;
}
.result__answer{
    display: inline-block;
    margin: 181px 0px 0px 0px;
    background-color: #000000;
    border: none;
    font-size: inherit;
    max-width: 19vw;
    text-align: right;
    outline: none;
}
.buttons{
    width: 20vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
button{
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    border:0.1px solid black;
    margin:0 auto;
    background: #333333;
    color:white;
    font-size:2em;
    cursor:pointer;
}
.button:hover{
    opacity: 0.5;
    
}
.table__td:last-child >.button{
    background: #F1A33B;
    margin-left: 3px;
}
.table__td:last-child >.button:hover{
    opacity: 0.5;
}
.btn-zero{
    width:8vw;
    border-radius: 45%;
}

.btn-gray{
    background: #A5A5A5;
}
@media screen and (max-width:1500px) {
    .calculator{  
        width: 400px;
        height: 100vh;
        
    }
    
    .result{
        width: 360px;
        height: 39vh;
    }
     .result__answer{
        margin: 270px 0px 0px 0px;
        font-size: 1em;
        max-width: 90%;
    }
    
    button{
        width: 5vw;
        height: 9vh;
        font-size:2em;
    }
   
    .btn-zero{
        width: 5em; 
     }     
} 
@media screen and (max-width:1250px){
    .calculator{  
        width: 400px;
        height: 86vh;
        
    }
    button{
        width: 6vw;
        height: 7vh;
        font-size: 2em;
    }
    }
@media screen and (max-width:1450px){
    .calculator{  
        height: 86vh;  
    }
    button{
        width: 6vw;
        height: 6vh;
        font-size: 2em;
    }  
}
@media screen and (max-width:977px){
    button{
        width: 8vw;
        height: 7vh;
        font-size: 2em;
    }  
}
@media screen and (max-width:783px){
    button{
        width: 11vw;
        height: 7vh;
        font-size: 2em;
    }  
}

 @media screen and (max-width: 500px){ 
  
.calculator{  
    width: 100%;
    height: 100vh;
    
}
.header__time{
    display: none;
}

.header__icons{
    display: none;
}

.result{
    width: 84vw;
    height: 38vh;
}
.result__answer{
    margin: 205px 0px 0px 0px;
    font-size: 2em;
    max-width: 84vw;
}
button{
    width: 19vw;
    height: 10vh;
    font-size:2em;
}
.btn-zero{
    width: 6em;
}
}
@media screen and (max-width: 450px){ 
    .calculator{  
        height: 85vh;   
    }
    .result__answer{
        font-size: 1em;  
    }
    button{
        width: 16vw;
        height: 7vh;
    }
    .btn-zero{
        width: 4em;
    }
}    
@media screen and (max-width: 360px){
    .calculator{  
        height: 71vh;   
    }
    .result{
        height: 31vh;
    }
    
    button{
        width: 20vw;
        height: 6vh;
    }
    .btn-zero{
        width: 4em;
    } 
 }
